/* Footer */
footer {
    background: #01193a;
    color: white;
    text-align: center;
    padding: 2rem;
}

footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}